<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{judul}}</title>
    <link rel="icon" href="/img/logo.png">
    <link rel="stylesheet" href="/css/style-bantuan.css"> <!-- Menghubungkan dengan CSS baru -->
    <title>Bantuan</title>
</head>
<body>
    {{>header}} <!-- Menyertakan header -->
    <div class="background-image"></div>
    <div class="main-content">
        <div class="content-section">
            <p><b>Halaman ini digunakan untuk apa?</b> Halaman ini berfungsi sebagai pusat informasi untuk membantu pengguna memahami penggunaan aplikasi cuaca. Di sini, pengguna dapat menemukan jawaban atas pertanyaan umum mengenai cara kerja aplikasi, API yang digunakan, dan pola arsitektur yang mendasari aplikasi.</p>

            <p><b>Apa itu API?</b> API (Application Programming Interface) adalah sekumpulan protokol dan alat yang memungkinkan berbagai aplikasi untuk saling berkomunikasi dan berbagi data. API memudahkan pengembang untuk mengakses data atau layanan dari aplikasi lain, seperti mendapatkan informasi cuaca dari server, tanpa harus membuat sistem tersebut dari awal.</p>

            <p><b>API apa yang digunakan dalam aplikasi ini?</b> Aplikasi ini menggunakan API dari layanan cuaca, seperti OpenWeatherMap atau WeatherAPI, untuk mendapatkan data cuaca secara real-time. API ini memberikan informasi cuaca terkini berdasarkan lokasi yang diinputkan oleh pengguna, seperti suhu, kelembapan, dan kondisi cuaca lainnya.
            </p>

            <p><b>Salah satu pola arsitektur API adalah RESTful. Apa itu RESTful API?</b> RESTful (Representational State Transfer) adalah pola arsitektur API yang sering digunakan untuk mengakses dan mengelola sumber daya di server. RESTful menggunakan metode HTTP, seperti GET, POST, PUT, dan DELETE, untuk berinteraksi dengan data. RESTful API mudah diintegrasikan dan mendukung berbagai format data, sehingga sangat populer dalam pengembangan aplikasi web.</p>

            <div class="image-section">
            
                <div class="image-section">
                    <h3>Diagram API dan Arsitektur Aplikasi</h3>
                    <img src="/img/RESTfull.jpg" alt="Diagram API dan Arsitektur Aplikasi" class="diagram-img">
    

        </div>
    </div>
    <script src="/js/app.js"></script>
    {{>footer}} <p>  </p> <!-- Menyertakan footer -->
</body>
</html>
