<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{judul}}</title>
    <link rel="icon" href="/img/logo.png">
    <link rel="stylesheet" href="/css/styles.css"> <!-- Menghubungkan file CSS -->
</head>
<body>
    <div class="background-image"></div> <!-- Gambar latar belakang -->
    <div class="main-content">

        {{>header}} <!-- Menyertakan header -->
        
        <form>
            <input type="text" placeholder="Masukkan lokasi" required>
            <button type="submit">Cek Cuaca</button>
        </form>
        <div>
            <p id="pesan-1"></p>
            <p id="pesan-2"></p>
        </div>
        <script src="/js/app.js"></script>
        {{>footer}} <!-- Menyertakan footer -->
    </div>
</body>
</html>