<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{judul}}</title>
    <link rel="icon" href="/img/logo.png">
    <link rel="stylesheet" href="/css/style-tentang.css"> <!-- Menghubungkan dengan CSS baru -->
</head>
<body>
    <div class="background-image"></div>
    <div class="main-content">
        {{>header}} <!-- Menyertakan header -->
        <img src="/img/uul.jpg" alt="Foto pengembang" class="profile-pic">
        <p>Dikembangkan oleh <strong>{{nama}}</strong></p>
        <p>Saya mahasiswi Universitas Negeri Padang</p>
        <p>Saya mahasiswa semester 5</p>
        <p>Jangan lupa Bernadya yaa</p>
    </div>
    <script src="/js/app.js"></script>
</body>
</html>
